table{
    margin-top: 20px;
}

th{
    background-color: rgb(234, 35, 52);

}

.tambah{
    background-color: lightslategray;
    padding: 5px;
    /* margin-top: 20px; */
    border: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 10px;

}

.delete{
    background-color: rgb(238, 157, 39);
    padding: 5px;
    /* margin-top: 20px; */
    border: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 10px;

}
.edit{
    background-color: lightslategray;
    padding: 5px;
    /* margin-top: 20px; */
    border: 10px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    margin-left: 10px;

}

h2 {
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}
body{
    background-image: url("../image/pertamina.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
.container{
    color: white;
}
datalist option{
    color: black;
    background-color: white;
}